@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
    width: 100vw;
    background-color: #1E1E1E;
    color: #A1A1A1;
}

#nav-menu {
    display: flex;
    gap: .5rem;
}

@media (max-width: 768px) {
    #nav-menu {
        display: none;
    }

    #nav-menu.active {
        display: flex;
        flex-direction: column;
        /* gap: .5rem; */
        width: 20rem;
        position: absolute;
        height: 60%;
        top: 1rem;
        right: 1rem;
        z-index: 50;
        padding: 1rem;
        background-color: #303030;
        border-radius: 0.5rem;
    }
}